<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="front.css">
        <link rel="icon" type="image/png" href="favicon.png" />
        <title>What?</title>
      <!-- <link rel="stylesheet"type="text/css" href="front.css.erb"> -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css">
    </head>

    <body id="whole">
      <div id="free_logo">
          <p>upfreelancer</p>
          <p>  </p>
      </div>
        <div id="main_container">
            <div class="ui middle aligned center aligned grid" >
                <div class="column seven wide center aligned" id="login_column">
                        <form class="ui mini form" id="login_form">
                          <div class="ui stacked segment">
                            <p id="login_text">
                              Log-in
                            </p>
                            <div class="field">
                              <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="email" placeholder="E-mail address">
                              </div>
                            </div>
                            <div class="field">
                              <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password">
                              </div>
                            </div>
                            <div class="ui animated fade fluid large submit button" tabindex="0">
                              <div class="visible content">Login</div>
                                <div class="hidden content">
                                  <i class="right arrow icon"></i>
                                </div>
                              </div>
                          </div>
                          <div class="ui error message"></div>
                        </form>
              </div>
              <div width=100px></div>
              <div class="column nine wide center aligned" id="signup_column">

                      <form class="ui mini form" id="signup_form">
                        <div class="ui stacked segment">
                            <p id="login_text">
                              Sign Up Now!
                            </p>
                            <div class="two fields">
                              <div class="field">
                                <div class="ui input">
                                  <input type="text" name="firstname" placeholder="First Name">
                                </div>
                              </div>
                              <div class="field">
                                <div class="ui input">
                                  <input type="text" name="lastname" placeholder="Lastname">
                                </div>
                              </div>
                            </div>
                            <div class="two fields">
                              <div class="field">
                                <div class="ui input">
                                  <input type="text" name="studentnumber" placeholder="SN<20xx-xxxxx>">
                                </div>
                              </div>
                              <div class="field">
                                <div class="ui input">
                                  <input type="text" name="college" placeholder="College">
                                </div>
                              </div>
                            </div>
                            <div class="two fields">
                              <div class="field">
                                <div class="ui input">
                                  <input type="text" name="year" placeholder="Year">
                                </div>
                              </div>
                              <div class="field">
                                <div class="ui input">
                                  <input type="text" name="course" placeholder="Course">
                                </div>
                              </div>
                            </div>


                          <div class="two fields">
                            <div class="field">
                              <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="email" placeholder="E-mail address">
                              </div>
                            </div>
                            <div class="field">
                              <div class="ui left icon input" >
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password" >
                              </div>
                            </div>
                          </div>
                          <div class="ui fluid large teal submit button" id=mode>Login</div>
                        </div>
                        <div class="ui error message"></div>
                      </form>

            </div>
          </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.js"></script>
      </div>
  </body>
</html>
