<!DOCTYPE html>
<html>
  <head>
   <link rel="stylesheet" type="text/css" href="front.css">
   </head>
      <title>What?</title>
      <!-- <link rel="stylesheet"type="text/css" href="front.css.erb"> -->
  </head>
  <body>
    <div id= "main_container">
      <div id="header">
        <div id="free_logo">
          <p>upfreelancer</p>
            <div class="login_form">
              <form>
                <table>
                  <tbody>
                    <tr>

                      <td><input type="text" placeholder="Email"></td>
                      <td><input type="password" placeholder="Password"></td>
                      <td><input type="button" value="Log In"></td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>

        </div>

      </div>
    </div>
  </body>
</html>
