<footer class="footer" style="min-width:1000px">
  <div class="ui middle aligned center aligned grid" >
      <div class="column" style="min-width:400px;max-width: 400px;top:6px;">
          <p>Copyright ©2016 UP Freelancer Inc. All rights reserved.</p>
      </div>
  </div>
</footer>
