<header class="navbar navbar-fixed-top navbar-inverse" style = "background-color:#421b05; opacity:1; min-height: 40px;min-width:1000px;">
    <div class="ui middle aligned center aligned grid" >
        <div class="column" style="color:#efefef;min-width: 400px;max-width: 400px;font-size:23px;top:6px;font-family: Abyssinica SIL;font-weight:bold;">
            <p>UPFREELANCER</p>
        </div>
    </div>
</header>
